<html>
<head>
  <style type="text/css">
    .button {
      display: inline-block;
      border-radius: 4px;
      background-color: #32CD32;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 18px;
      padding: 5px;
      width: 110px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      text-decoration: none;
    }

    input[type="submit"] {
      display: inline-block;
      border-radius: 4px;
      background-color: #32CD32;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 18px;
      padding: 6.5px;
      width: 170px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      text-decoration: none;
    }

    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    .button:hover span {
      padding-right: 25px;
    }
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    body{
      background-image:url(https://scontent.fmcz2-2.fna.fbcdn.net/v/t1.0-9/205071_107310262685966_7582976_n.jpg?_nc_cat=103&_nc_oc=AQmZ2_iRAgjx_fWi7MhpOmOsFH4W1ihm-5zB3Srk7M7hKsUDU-oYhyt2tI2OjOWzMQk&_nc_ht=scontent.fmcz2-2.fna&oh=8eab371d0d8fb2cbc55fb80c4b7815c7&oe=5E489E09);
      background-size: 50%;
    }
    box,label {
      display: block;
      padding: 10px;
    }
    box {
      width: 300px;
      margin: 15px;
      background-color: rgba(0, 0, 0, 0.9);
      position: absolute;
      left: 37%;
    }
    label.warning{
      color: red;
      text-align: center;
    }
    label {
      color: white;
      text-align: center;
    }
    input {
      display: inline-block;
      padding-left: 10px;
    }
    h1.estiloLabel{
      text-align: center;
      font-weight:bold;
      font-style:italic;
      color:white;
    }
    label.notice {
      color: lime;
      text-align: center;
    }
  </style>
</head>

<body>
<di id="wrap">
<%= form_with(model: cliente, local: true) do |form| %>

  <div>
    <label><%= form.label :nome, class:"label-elemento_formulario" %>
      <%= form.text_field :nome, placeholder:"Name" %></label>
  </div>

  <div>
    <label><%= form.label :identificador %>
      <%= form.text_field :identificador,placeholder:"ID" %></label>
  </div>

  <div>
    <label><%= form.label :telefone%>
      <%= form.text_field :telefone, placeholder:"Telephone" %></label>
  </div>

  <div>
    <label><%= form.label :celular%>
      <%= form.text_field :celular, placeholder:"Cellphone" %></label>
  </div>

  <div>
    <label><%= form.label :email%>
      <%= form.text_field :email,placeholder:"E-mail (minim de 5 chars)" %></label>
  </div>

  <div>
    <label><%= form.label :senha%>
      <%= form.text_field :senha, type:"password", placeholder:"Password (minim 5 chars)" %></label>
  </div>


    <div><br>
      <center>
        <%= form.submit %>
      </center>
    </div>

<%end %>

</di>
</body>

</html>