<box>
  <h1 class="estiloLabel">Sign Up</h1>
  <%=render 'form', cliente:@cliente %>

  <div><br>
    <center>
      <%= link_to 'Sign In', logins_path, class:'button'%>
    </center>
  </div>

  <% if @cliente.errors.any? %>
    <div>
      <h2>
        <label class="warning"><%= pluralize(@cliente.errors.count, "erros") %></label>
        <label class="warning">ao tentar realizar a operação:</label>
      </h2>
      <>
      <ul>
        <% @cliente.errors.full_messages.each do |msg| %>
          <center><label class="warning">-<%= msg %></label></center>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p id="notice"><label class="notice"><%= notice %></label></p>

</box>

