<!DOCTYPE html>
<html>
<head>
  <style>
    .button {
      display: inline-block;
      border-radius: 4px;
      background-color: #f4511e;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 18px;
      padding: 15px;
      width: 180px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      text-decoration: none;
    }

    .button {
      background-color: white;
      color: black;
      border: 2px solid #f4511e;
    }

    .button:hover {
      background-color: #f4511e;
      color: white;
    }

    body{
      background-image:url(https://png.clipart.me/istock/previews/6155/61558146-food-restaurant-logo-icon.jpg);
    }
    box,label {
      display: block;
      padding: 10px;
    }
    box {
      width: 1200px;
      height: 160px;
      background-color: rgba(0, 0, 0, 0.9);
      position: absolute;
      left: 20%;
      top: 30%
    }
    label.warning{
      color: red;
      text-align: center;
    }
    label {
      color: white;
      text-align: right;
    }
    input {
      display: inline-block;
      padding-left: 10px;
    }
    h1.estiloLabel{
      text-align: center;
      font-weight:bold;
      font-style:italic;
      color:white;
    }
  </style>
</head>

<body>
<box>
  <center>
    <div id="masthead">
      <h1 class="estiloLabel">Senõr Froggy Catering System | Admin</h1>
        <%= link_to 'Menu', menus_path, style:'color: navy;',class:'button' %>
        <%= link_to 'Add Staff', funcionarios_path, style:'color: navy;',class:'button'%> |
        <%= link_to 'Edit Staff',  edit_funcionario_path(Pessoa.get_pessoa_logada.id), style:'color: navy;',class:'button'%> |
        <%= link_to 'Delete Staff', funcionario_path(Pessoa.get_pessoa_logada.id), style:'color: navy;',class:'button',
            method: :delete, data: { confirm: 'Are you sure?' },id:"d-#{'delete-'+(Pessoa.get_pessoa_logada.id).to_s}"%> |
        <%= link_to 'Log Out', logins_sair_path, style:'color: navy;',class:'button'%>
    </div>
</center>
</box>
</body>
</html>
