<html>
<head>
  <style type="text/css">
    .button {
      display: inline-block;
      border-radius: 4px;
      background-color: #f4511e;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 18px;
      padding: 5px;
      width: 110px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      text-decoration: none;
    }
    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    .button:hover span {
      padding-right: 25px;
    }
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    body{
      background-image:url(https://png.clipart.me/istock/previews/6155/61558146-food-restaurant-logo-icon.jpg);
    }
    form,label {
      display: block;
      padding: 10px;
    }
    form {
      width: 300px;
      margin: 15px;
      background-color: rgba(0, 0, 0, 0.9);
      position: absolute;
      left: 37%;
      top: 30%
    }
    label.warning{
      color: red;
      text-align: center;
    }
    label {
      color: white;
      text-align: right;
    }
    input {
      display: inline-block;
      padding-left: 10px;
    }
    h1.estiloLabel{
      font-weight:bold;
      font-style:italic;
      color:white;
    }

    label.notice {
      color: lime;
      text-align: center;
    }
  </style>
</head>
<body>
<%= form_with scope: :login, url:logins_path, local:true do |form| %>
  <center>
    <h1 class="estiloLabel">Login</h1>
  </center>
  <span name="cliente">
      <label>ID or E-mail:
        <%= text_field_tag :email, nil, id:"emailLogin", placeholder:"Id or E-mail" %>
      </label>
    </span><br>
  <span name="cliente">
      <label>Password:
        <%= text_field_tag :senha, nil, id:"senhaLogin", type:"password", placeholder:"Password" %>
      </label>
    </span><br>

  <script>selecionarEmailSenha("<%=@email%>","<%=@senha%>")</script>

  <% if(@resultadoLogin != "")
       valor = ""
       resultado =@resultadoLogin
       valorId = "resultadoPositivo"
       if resultado.split('-')[0] == 'erro'
         valor = "color: red"
         resultado = resultado.split('-')[1]
         valorId = "resultadoNegativo"
       end
  %>
      <label class="warning">
        <%= resultado %>
      </label>
  <% end %>
  <center>
    <%= link_to 'Sign Up', clientes_path, class: 'button', style:'height: 23px;'%>
    <button class="button" style="vertical-align:middle"><span>Sign In</span></button>
  </center>

  <p id="notice"><label class="notice"><%= notice %></label></p>
<% end %>

</body>
</html>