<p>
  <strong>Title:</strong>
  <%= @menu.title %>
</p>

<%= form_tag menusc_order_path :method => :put do %>
  <table>
    <% (@menu.item).each do |item| %>
      <tr>
        <td><%= check_box_tag 'id_itens[]', item, checked:true%></td>
        <td><%=item%></td>
      </tr>
    <% end %>
  </table>

  <%= date_field :bora, 'order_date'%>

  <p>Number of People</p>
  <%= number_field_tag 'num_people', nil, min: 1%>

  <%= button_to 'Order' %>
<%end %>

<%= link_to 'Cancel', menusc_index_path %>
