<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @adress.street %>
</p>

<p>
  <strong>Block:</strong>
  <%= @adress.block %>
</p>

<p>
  <strong>Number:</strong>
  <%= @adress.number %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @adress.additional_info %>
</p>
